a {
	color: $color__link;
	text-decoration: none;
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

p {
	margin-bottom: 1.5em;
}

pre {
	background: $color__background-pre;
	color: $color__text-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.4em 1em;

	code {
		background: $color__background-pre;
		color: $color__text-pre;
	}
}

code {
	background: $color__background-code;
	color: $color__text-code;
}

iframe.cp_embed_iframe {
	max-width: 100%;
}
time.updated {
	display: none;
}

#masthead {
	background-color: $color__background-masthead;
	text-align: center;
}

.site-title {
	margin-bottom: 0;

	a, a:visited, a:link, a:active {
		color: $color__text-main;
	}
}
.site-description {
	margin-top: 0;
}

#primary-menu {
	border-top: 1px solid #eee;

	a {
		color: $color__text-main;
	}
}

.menu-toggle {
	margin: 0.5em auto;
}

.hentry {
	padding: 2em 0;

	li {
		margin-bottom: 0.5em;
	}

	p {
		margin: 2em 0;
	}
}

.post-header-image {
	padding-top: 2em;

	img {
		display: block;
		padding: 0;
		margin: 0;
		width: 100%;
	}
}
.entry-title {
	margin-bottom: 0;
}
#colophon {
	padding-top: 1em;
	padding-bottom: 1.5em;
	background-color: $color__background-masthead;

	.widget-area{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: baseline;
		align-content: flex-start;
	}
	.widget {
		width: 320px;
		margin: auto;
	}
}
#footer-navigation {
	padding: 1em 0;

	li {
		border-right: 1px solid #eee;
		line-height: 1;
	}
	a {
		color: $color__text-main;
	}
}
.copyright {
	text-align: center;
}